@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

:root {
    --teal: #38A3A5; /* define a CSS variable */
    --darkblue: #22577A; 
    --chartruce: #57CC99;
    --happygreen: #80ED99;
    --palegreen: #C7F9CC; 
    --Lilita: 'https://fonts.googleapis.com/css?family=Comfortaa|Patua+One';
  }
/* space-around lays out the cards evenly across the page (might need this re-explained) */
.pets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.pet {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: linear-gradient(to bottom right, #57CC99, #A0ECD5);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    width: 40%;
    padding: auto;
    box-shadow: 3px 3px 5px gray;
}

.pet_contact_container {
  width: 100%;
  height: 100%;
}

h2 {
    margin: 1rem
}

.pet_image {
    width: 100%;
    margin: auto;
    /* margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    /* padding: 15px 20px; */
    border-radius: 10px;
}

.pet_image_border {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%;
    border-top: 2px solid var(--darkblue);
    border-bottom: 2px solid var(--darkblue);
    /* border: 1px solid gray;
    border-radius: 10px; */
    padding: 15px 20px;
    box-shadow: 0px 3px 5px 0px gray;
}

.pet_header {
    font-family: Lilita One, cursive;
    color: #1b4460;
    font-size: xx-large;
    text-align: center;
}

.pet_text {
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Comfortaa", Arial, sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  z-index: 9998;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 214, 246);
  border: 1px solid #ccc;
  padding: 5%;
  max-width: 400px;
  z-index: 9999;
  border: #22577A 7px solid;
  border-radius: 15px
}

.modal p {
  margin-bottom: 20px;
}

.pet_search {
    margin: 1rem;
    width: 25%;
    border-radius: 10px;
    border-color: #38A3A5;
}

/* .post_button {
    margin: 10px;
} */

.post_footer {
  margin: auto;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.homepage_header {
  font-family: Lilita one, cursive;
  font-size: 35px;
  text-align: center;
  color: #1b4460;
}

.homepage_caption {
  text-align: center;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 20px;
}

.contact_text {
  font-family: "Comfortaa", Arial, sans-serif;
}