.profile_header {
    margin: 25px;
    text-align: center;
    font-family: Lilita One, cursive;
    font-size: xx-large;
    color: #22577A;
}

.profile_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}